@charset "utf-8";
//要先把scss声明字符格式
$color:#ff0;
/*多行注释*/
//单行注释
/*!强制注释（压缩之后还在）*/
$name:width;
#obox{
  #{$name}:1px;
//  调用要加括号
}
.div{
  color: $color;
  .box1{
    color: aqua;
  }
  &:hover{
    font-size: 20px;
  }
  &-header{
    font-weight: bolder;
  }
//  选择器、属性嵌套
}
.div2{
  background:{
    color: yellow;
    repeat:no-repeat;
    image:url("xx.png");
  }
  border: {
    left: {
      color: blueviolet;
    };
    right:{
      color: chocolate;
    }
  }
}
.div3{
  font-size: 16px;
}
.div4{
  font-weight: bolder;
}
@mixin mx($w,$h){
  width: $w;
  height: $h;
}
//可以通过传参引用
.div5{
  @include mx(100px,200px)
//  对不同参数进行修改
}
.div6{
  @include mx(100px,2000px)
}

@import "base";
//其他css文件引入
.div7{
  @extend .div4;
  color: aliceblue;
//  属性继承，同时可以添加其他属性
}
.div8{
  width: 200px - 100px;
}
.div9{
  height: 200 - 100px;
//加减可以只写一个单位，前后加都可以，也可以加两个单位
}
.div10{
  height: 100 + 100px;
}
.div11{
  height: 100 * 10px;
//  乘法只能写一次单位
}
.div12{
  width: (100px)/2;
//  除法必须加括号,因为除号有固定含义
  font-size: 10px/10px;
}
$num:"aa";
.div13{
  background-image: url($num + '.jpg');
}
.div14{
  color: lighten(rgb(0,0,255),20%);
}
.div15{
  color: darken(rgb(0,0,255),20%);
}
.div16{
 color:opacify(rgba(0,0,0,.5),.3);
}
.div17{
  color: transparentize(rgba(0,0,0,.5),.3);
}

$m:(light:#000,dark:#fff);
.div18{
  color: map-get($m,light);
}
@function foo($key){
  @if($key == "1"){
    @return red;
  }@else{
    @return blue;
  }
}
//所有方法及名称必须加@符号，不可以直接写
.div19{
  color:foo("3");
}
@for $var from 1 through 5{
  .div-content-#{$var}{
    width: $var + px;
  }
}
$user:"lisi";
//作者#{$user}
$lista:a b c d;
@each $var in $lista{
  .div-#{$var}{
    background: #000;
  }
}
$i:0;
@while($i < 10){
  .div-footer-#{$i}{
    background: #000;
  }
  $i:$i + 1;
}